

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-495965044022969225.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-495965044022969225.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-495965044022969225.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-495965044022969225.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-495965044022969225.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-495965044022969225.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-495965044022969225.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-495965044022969225.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-495965044022969225.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-495965044022969225.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-495965044022969225.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-495965044022969225.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-495965044022969225.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-495965044022969225.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-495965044022969225.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-495965044022969225.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-495965044022969225.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-495965044022969225.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-495965044022969225.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-495965044022969225.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-495965044022969225.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-495965044022969225.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-495965044022969225.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-495965044022969225.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-495965044022969225.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-495965044022969225.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-495965044022969225.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-495965044022969225.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-495965044022969225.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-495965044022969225.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-495965044022969225.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-495965044022969225.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-495965044022969225.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-495965044022969225.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-495965044022969225.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-495965044022969225.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-495965044022969225.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-495965044022969225.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-495965044022969225.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-495965044022969225.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-495965044022969225.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-495965044022969225.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-495965044022969225.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-495965044022969225.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-495965044022969225.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-495965044022969225.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-495965044022969225.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-495965044022969225.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-495965044022969225.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-495965044022969225.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-495965044022969225.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-495965044022969225.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-495965044022969225.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-495965044022969225.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-495965044022969225.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-495965044022969225.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-495965044022969225.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-495965044022969225.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-495965044022969225.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-495965044022969225.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-495965044022969225.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-495965044022969225.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-495965044022969225.gps.gpsil [style*="--z-mobile:"]{z-index:var(--z-mobile)}.gps-495965044022969225.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-495965044022969225 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-495965044022969225 .gp-relative{position:relative}.gps-495965044022969225 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-495965044022969225 .gp-mb-0{margin-bottom:0}.gps-495965044022969225 .gp-flex{display:flex}.gps-495965044022969225 .gp-inline-flex{display:inline-flex}.gps-495965044022969225 .gp-grid{display:grid}.gps-495965044022969225 .\!gp-hidden{display:none!important}.gps-495965044022969225 .gp-hidden{display:none}.gps-495965044022969225 .gp-w-full{width:100%}.gps-495965044022969225 .gp-max-w-full{max-width:100%}.gps-495965044022969225 .gp-flex-col{flex-direction:column}.gps-495965044022969225 .gp-flex-wrap{flex-wrap:wrap}.gps-495965044022969225 .gp-items-center{align-items:center}.gps-495965044022969225 .gp-justify-center{justify-content:center}.gps-495965044022969225 .gp-gap-y-0{row-gap:0}.gps-495965044022969225 .gp-overflow-hidden{overflow:hidden}.gps-495965044022969225 .gp-leading-\[0\]{line-height:0}.gps-495965044022969225 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-495965044022969225 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495965044022969225 .gp-duration-200{transition-duration:.2s}.gps-495965044022969225 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-495965044022969225 .tablet\:\!gp-hidden{display:none!important}.gps-495965044022969225 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-495965044022969225 .mobile\:\!gp-hidden{display:none!important}.gps-495965044022969225 .mobile\:gp-hidden{display:none}}.gps-495965044022969225 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-495965044022969225 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-495965044022969225 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-495965044022969225 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-495965044022969225 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-495965044022969225 .\[\&_p\]\:gp-inline p{display:inline}.gps-495965044022969225 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-495965044022969225 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--pos-mobile:fixed;--top-mobile:0px;--z-mobile:99;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g-q0eQ_L_s"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-s);--pl-mobile:15px;--pb-mobile:var(--g-s-s);--pr-mobile:15px;--cg:var(--g-s-2xl);--cg-mobile:auto;--pc:start;--pc-mobile:center;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#322B85;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g-q0eQ_L_s gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gKASCUS0Yr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="guvAuXeXHl "
        style="--tt:default;--ta:left;--b:solid;--bc:var(--g-c-bg-3, bg-3);--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:auto;--mb-mobile:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-g-paragraph-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3);word-break:break-word;overflow:hidden"
        ><p>Easy Returns</p></div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gnJnwqT86R gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gwI_JUP22g"
        style="--b:solid;--bc:rgba(255, 255, 255, 0.4);--bw:0px 1px 0px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:auto;--mb-mobile:auto;--pl-mobile:16px;--pr-mobile:16px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwI_JUP22g gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge6pW13v5C gp-relative gp-flex gp-flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left;--jc-mobile:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gsH7cGIE6Q ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gL6QcRy2s5"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gdiDtMAK3X ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gl7flfnhPI"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="geLU2hh2FD ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gUcXHTK6V9"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gbKS3nmaiQ ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] gdV9BRVh8F"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gDCQbMYzPd ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="gp-leading-[0] g74TzYUzuj"
    >
      <div class="gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--height-desktop:undefined;--height-tablet:undefined;--height-mobile:undefined"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="g-TbNW8rMY "
        style="--tt:default;--ta:left;--ta-mobile:center;--b:solid;--bc:var(--g-c-bg-3, bg-3);--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:auto;--mb-mobile:auto"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-g-paragraph-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3);word-break:break-word;overflow:hidden"
        ><p>6000+ Clients satisfaits</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--jc-mobile:center"
      class="gOYalPQf5J gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gTpQyvvJYI "
        style="--tt:default;--ta:left;--ta-mobile:right;--b:solid;--bc:var(--g-c-bg-3, bg-3);--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mt-mobile:auto;--mb-mobile:auto"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:right">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-g-paragraph-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3);word-break:break-word;overflow:hidden"
        ><p>Free shipping</p></div>
      </div>
    </div>
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-495965044022969225 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c4e72d-3/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=495958189020283785&sectionId=495965044022969225)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
